config.mk

*.swp
tags
*.nfs*
*~
\#*
.#*

rtl/.qsys_edit/
rtl/transcript

sim/vblox1/*

sim/db/*

*.dump
*.elf
*.pyc

software/obj/
*.swp
*.dump
*.qex
*.mif
*.bin
*.elf
tags
*.d

wishbone/cae_library/*
*.sopcinfo
transcript
work/

*.jou
*.log
*.back
*.bak
**.o
.Xil/
vivado_*.str
vivado_pid*.zip
export_sim/
hw_ila*.btree

tools/jtag_init.tcl

nohup.out
tools/riscv-toolchain/build

csmith-compile/
platform.info
