*~
*.log
*.bak
*.swp
tags
.nfs*

synthesis/.recordref
synthesis/.recordref_modgen
synthesis/Top_Fabric_Master.edn
synthesis/Top_Fabric_Master.fse
synthesis/Top_Fabric_Master.htm
synthesis/Top_Fabric_Master.map
synthesis/Top_Fabric_Master.sap
synthesis/Top_Fabric_Master.so
synthesis/Top_Fabric_Master.srd
synthesis/Top_Fabric_Master.srm
synthesis/Top_Fabric_Master.srr
synthesis/Top_Fabric_Master.srs
synthesis/Top_Fabric_Master.vhd
synthesis/Top_Fabric_Master_scck.rpt
synthesis/Top_Fabric_Master_sdc.sdc
synthesis/Top_Fabric_Master_syn.bak
synthesis/Top_Fabric_Master_syn.prj.sav
synthesis/Top_Fabric_Master_syn.tcl
synthesis/Top_Fabric_Master_synplify.fdc
synthesis/backup/
synthesis/dm/
synthesis/rpt_Top_Fabric_Master.areasrr
synthesis/rpt_Top_Fabric_Master_areasrr.htm
synthesis/run_options.txt
synthesis/scratchproject.prs
synthesis/synlog.tcl
synthesis/synlog/
synthesis/synplify.log
synthesis/syntmp/
synthesis/synwork/
synthesis/traplog.tlg

component/Actel/DirectCore/CoreAPB3/4.0.4/
designer/Top_Fabric_Master/
hdl/Top_Fabric_Master.vhd
hdl/my_mss.vhd
hdl/my_mss_top.vhd
simulation/COREAHBLSRAM_LIB/
simulation/COREAHBTOAPB3_LIB/
simulation/COREAXITOAHBL_LIB/
simulation/COREAXI_LIB/
simulation/CORESPI_LIB/
simulation/COREUARTAPB_LIB/
simulation/ENVM_init.mem
simulation/bfmtovec_compile.log
simulation/coreapb3_usertb_master.vec
simulation/presynth/
simulation/test.vec
simulation/testbench_presynth_simulation.log
simulation/vsim.wlf
stimulus/
tooldata/libero.*
tooldata/sf2plus.msg
